<div class="panel center-block panel-login">
    <div class="panel-heading text-center">
        <h2>Bookmark</h2>
    </div>
    <div class="panel-body">
        <form method="post">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" ng-model="ctrl.bookmark.descricao" placeholder="Descrição" autofocus>
                <span class="glyphicon glyphicon-heart form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="url" class="form-control" ng-model="ctrl.bookmark.url" placeholder="Url">
                <span class="glyphicon glyphicon-link form-control-feedback"></span>
                <span id="helpBlock" class="help-block text-right"><i>Ex. http://www.m4u.com.br</i></span>
            </div>
            <button type="button" class="btn btn-primary pull-right" ng-click="ctrl.save()"> <i class="fa fa-floppy-o"></i> {{ctrl.btnLblAcao}}</button>
            <button type="button" class="btn btn-danger pull-right m5r" ng-click="ctrl.cancel()"> <i class="fa fa-times"></i> Cancelar</button>
        </form>
    </div>
    <div class="overlay" ng-show="!ctrl.isLoaded">
        <span class="glyphicon glyphicon-refresh"></span>
    </div>
</div>