<div class="container">
    <div class="row">
        <a ng-href="" class="pull-right" ng-click="ctrl.add()" ng-show="!main.auth.isAdmin()">
            Criar
        </a>
    </div>
    <div class="row panel" ng-repeat="(usuario, bookmarks) in ctrl.bookmark">
            <h3>Bookmark de {{usuario|capitalize}}</h3>
            <div class="col-sm-6 col-md-4" ng-repeat="book in bookmarks">
                <div class="thumbnail">
                    <div class="caption">
                        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                        <h3 ng-bind="book.descricao"></h3>
                        <p ng-bind="book.url"></p>
                        <p ng-show="!main.auth.isAdmin()">
                            <a ng-href="" class="btn btn-default" role="button" ng-click="ctrl.edit(book)">Editar</a>
                            <a ng-href="" class="btn btn-danger" role="button" ng-click="ctrl.remove(book)">Excluir</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="overlay" ng-show="!ctrl.isLoaded">
                <span class="glyphicon glyphicon-refresh"></span>
            </div>
    </div>
</div>