<div class="panel center-block panel-login">
    <div class="panel-heading text-center"><h2>Registrar</h2></div>
    <div class="panel-body">
        <form method="post">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" ng-model="ctrl.usuario.login" placeholder="Usuário" autofocus>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" ng-model="ctrl.usuario.password" placeholder="Senha">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <button type="button" class="btn btn-primary pull-right" ng-click="ctrl.save()"> <i class="fa fa-floppy-o"></i> Registrar</button>
            <button type="button" class="btn btn-danger pull-right m5r" ng-click="ctrl.cancel()"> <i class="fa fa-times"></i> Cancelar</button>
        </form>
    </div>
    <div class="overlay" ng-show="!ctrl.isLoaded">
        <span class="glyphicon glyphicon-refresh"></span>
    </div>
</div>