<div class="container">
    <div class="row panel">
        <h3>Lista de registros</h3>
        <div class="col-sm-6 col-md-4" ng-repeat="registro in ctrl.registro">
            <div class="thumbnail">
                <div class="caption">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <h3 ng-bind="registro.login|capitalize"></h3>
                    <p>{{registro.created_at|asDate|date:"dd/MM/yyyy 'às' hh:mm"}}</p>
                </div>
            </div>
        </div>
        <div class="overlay" ng-show="!ctrl.isLoaded">
            <span class="glyphicon glyphicon-refresh"></span>
        </div>
    </div>
</div>