<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bookmk-menu" aria-expanded="false" ng-show="main.auth.isLoggedIn()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ng-href=""><span class="glyphicon glyphicon-heart"></span> <em>Book</em>M4U</a>
</div>

<div class="collapse navbar-collapse" id="bookmk-menu">
    <ul class="nav navbar-nav" ng-show="main.auth.isLoggedIn()">
        <li ng-class="{ active: main.isActive('/bookmark')}"><a ng-href="#/bookmark">Bookmarks <span class="sr-only">(current)</span></a></li>
        <li ng-class="{ active: main.isActive('/registro')}" ng-show="main.auth.isAdmin()"><a ng-href="#/registro">Registros</a></li>
    </ul>
    <p class="navbar-text navbar-right" ng-show="main.auth.isLoggedIn()">
        <a ng-href="" class="" ng-click="main.auth.logout()">Sair <span class="glyphicon glyphicon-log-out"></span></a> ::
        {{main.auth.user.login|capitalize}}
    </p>
</div>