<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BookM4U</title>

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.min.css">
        <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.min.css">
        <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-plain.min.css">
        <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-custom-width.css">
        <link rel="stylesheet" href="index.css">

    </head>
    <body ng-controller="MainCtrl as main">
        <nav class="navbar navbar-default">
            <div class="container" ng-include="'_header.html'"></div>
        </nav>

        <div class="alert {{main.flash.getClass()}} alert-dismissable flash-helper" ng-show="main.flash.hasMessage()">
            <h4><i class="{{main.flash.getIcon()}}"></i> <span ng-bind="main.flash.getHeader()"></span></h4>
            <span ng-bind="main.flash.get()"></span>
        </div>
        <section class="content" ng-view="">
        </section>

        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/ng-dialog/js/ngDialog.min.js"></script>
        <!-- Arquivos da aplicação -->
        <script src="app/app.js"></script>
        <script src="app/core/module.js"></script>
        <script src="app/core/constants.js"></script>
        <script src="app/core/filters.js"></script>
        <script src="app/core/flash.service.js"></script>
        <script src="app/core/service.js"></script>
        <script src="app/auth/module.js"></script>
        <script src="app/auth/service.js"></script>
        <script src="app/auth/interceptor.js"></script>
        <script src="app/auth/loginCtrl.js"></script>
        <script src="app/main/module.js"></script>
        <script src="app/main/controller.js"></script>
        <script src="app/registro/module.js"></script>
        <!--<script src="app/registro/service.js"></script>-->
        <script src="app/registro/listCtrl.js"></script>
        <script src="app/registro/addCtrl.js"></script>
        <script src="app/bookmark/module.js"></script>
        <!--<script src="app/bookmark/service.js"></script>-->
        <script src="app/bookmark/listCtrl.js"></script>
        <script src="app/bookmark/addCtrl.js"></script>
        <script src="app/bookmark/editCtrl.js"></script>

    </body>
</html>