<div class="panel center-block panel-login">
    <div class="panel-heading text-center">
        <h2><span class="glyphicon glyphicon-heart"></span> <em>Book</em>M4U</h2>
    </div>
    <div class="panel-body text-center">
        <p>Não autorizado.</p>
    </div>
</div>