<div class="panel center-block panel-login box">
    <div class="panel-heading text-center"><h2>Login</h2></div>
    <div class="panel-body">
        <form ng-submit="ctrl.login()" method="post">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" ng-model="ctrl.user.login" placeholder="Usuário" autofocus>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" ng-model="ctrl.user.password" placeholder="Senha">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-flat">Logar</button>
            <br>
            <a ng-href="#/registro/add" class="pull-right">Registrar</a>
        </form>
    </div>
    <div class="overlay" ng-show="!ctrl.isLoaded">
        <span class="glyphicon glyphicon-refresh"></span>
    </div>
</div>